<div class="container">
    <div class="header">
        <h3>CATEGORIAS</h3>
    </div>
    <div class="body">
        <app-card [hidHeader]="true">
            <div class="col-md-12 ">
                <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Nombre de la categoria"
                            formControlName="nombre">
                        <!-- Agregado: Mostrar error si el campo es requerido y no se ha llenado -->
                        <div *ngIf="formulario.get('nombre').hasError('required') && formulario.get('nombre').touched"
                            class="text-danger">
                            Nombre es requerido
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid"
                        style="width: 100%;">Guardar</button>
                </form>
            </div>
        </app-card>
    </div>
</div>