<div class="row">
    <div class="col-sm-12">
        <app-card [hidHeader]="true">
            <div class="container">
                <div class="row header">
                    <div class="col-md-6">
                        <h2>CREAR FACTURA</h2>
                    </div>
                    <div class="col-md-3 text-end">
                    </div>
                    <div class="row">
                        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="nombre">Fecha</label>
                                <input type="date" class="form-control" id="fecha" formControlName="fecha">
                                <!-- Agregado: Mostrar error si el campo es requerido y no se ha llenado -->
                                <div *ngIf="formulario.get('fecha').hasError('required') && formulario.get('fecha').touched"
                                    class="text-danger">
                                    Fecha es requerida
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="total">Total</label>
                                <input type="text" class="form-control" id="total" placeholder="total"
                                    formControlName="total">
                            </div>
                            <div class="form-group">
                                <label for="nombre">Clientes</label>
                                <select class="form-select" formControlName="idCliente">
                                    <option *ngFor="let cliente of clientes" [ngValue]="cliente">
                                        {{ cliente.nombre }}
                                    </option>
                                </select>
                                <div *ngIf="formulario.get('idCliente').hasError('required') && formulario.get('idCliente').touched"
                                    class="text-danger">
                                    Unidad es requerida
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid"
                            style="width: 100%;">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <h5>TOTAL DE FACTURA: <span style="color: green;">$ {{totalCarrito}}</span></h5>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <h4>CARRITO DE COMPRAS</h4>
                    <div class="row">
                        <div *ngFor="let detalleCarrito of detalleCarrito;let i = index" class="cardProducto" class="col-md-6">
                            <app-card [hidHeader]="true">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h5 class="text-c-yellow">{{detalleCarrito.idProducto.nombre}}</h5>
                                        <h6 class="text-muted m-b-0">{{detalleCarrito.cantidad}} {{detalleCarrito.idProducto.idUnidad.abreviatura}}</h6>
                                    </div>
                                    <div class="col-4">
                                        <button type="button" class="btn btn-danger p-1" ngbTooltip="Borrar producto del carrito">
                                            <mat-icon style="font-size: 16px;" (click)="borrarProducto(i)">delete</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </app-card>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h4>PRODUCTOS</h4>
                    <input class="form-control" type="text" [(ngModel)]="terminoBusqueda" (input)="actualizarProductosFiltrados()" placeholder="Buscar Producto">
                    <br>
                    <mat-divider></mat-divider>
                    <br>
                    <div>
                        <div class="productosContainer">
                            <div class="row">
                                <div class="col-md-4 producto"
                                    *ngFor="let producto of productosFiltrados">
                                    <app-card [hidHeader]="true" blockClass="text-center">
                                        <div>
                                            <img [src]="producto.imagen" style="max-width: 40px; max-height: 30px;" ma
                                                alt="">
                                        </div>
                                        <h5 class="m-b-15">{{producto.nombre}}</h5>
                                        <div class="risk-rate">
                                            <span><b class="text-muted">$ {{producto.precio}}
                                                    {{producto.idUnidad.abreviatura}}</b></span>
                                        </div>
                                        <div class="row justify-content-center ">
                                            <div class="col m-t-15">
                                                <input type="number" class="form-control input-cantidad"
                                                    [(ngModel)]="cantidadProductos[producto.idProducto]"
                                                    placeholder="Cantidad">
                                            </div>
                                            <div class="col m-t-15 b-r-default">
                                                <button type="button" class="btn btn-success"
                                                    ngbTooltip="Agregar producto al carrito"
                                                    (click)="agregarCarrito(cantidadProductos[producto.idProducto], producto)">Agregar</button>
                                            </div>
                                        </div>
                                    </app-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
</div>

<!--
    
                                <mat-list-item *ngFor="let producto of obtenerProductosPorCategoria(categoria)">
                                <div class="mr-3">
                                    <img [src]="producto.imagen" alt="user image" class="img-radius wid-40 align-top">
                                </div>
                                <div class="d-flex flex-column">
                                    <div>{{producto.nombre}}</div>
                                    <div class="d-flex align-items-center">
                                        <input type="number" class="form-control input-cantidad" placeholder="Cantidad">
                                        <button type="button" class="btn btn-info ml-2"
                                            ngbTooltip="Editar usuario">Agregar</button>
                                    </div>
                                </div>
                            </mat-list-item>
                            
              <div class="row">
            <div *ngFor="let producto of productos" class="cardPedido" class="col-md-4" (click)="openDialogProducto(producto)">
              <app-card [hidHeader]="true">
                <div class="row align-items-center">
                  <div class="col-7">
                    <h3 class="text-c-yellow">{{producto.nombre}}</h3>
                    <h4 class="text-muted m-b-0">${{producto.precio}} {{producto.idUnidad.abreviatura}}</h4>
                  </div>
                  <div class="col-4 text-right">
                    <img style="max-width: 100px; max-height: 60px;" [src]="producto.imagen" alt="">
                  </div>
                </div>
              </app-card>
            </div>
          </div>

  -->