<div class="row">
    <div class="col-sm-12">
        <app-card [hidHeader]="true">
            <div class="row header">
                <div class="col-md-6">
                    <h2>CATEGORIAS</h2>
                </div>
                <div class="col-md-3 text-end">

                </div>
                <div class="col-md-3 text-end">
                    <button type="button" class="btn btn-primary btn-header" (click)="openDialogCategoria(null)" ngbTooltip="Agrega una nueva Categoria">Nueva Categoria</button>
                </div>

            </div>
            <div class="container">
                <app-card [hidHeader]="true"cardClass="table-card" blockClass="p-0">
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>

                                    <th>Nombre</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let categoria of categorias">
                                    <td>{{categoria.nombre}}</td>
                                    <td>
                                        <button type="button" class="btn btn-info" (click)="openDialogCategoria(categoria)" ngbTooltip="Editar categoria">Editar</button>
                                        <button type="button" class="btn btn-danger" (click)="eliminarCategoria(categoria)" ngbTooltip="Borrar categoria">Borrar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </app-card>
            </div>
        </app-card>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <app-card [hidHeader]="true">
            <div class="row header">
                <div class="col-md-6">
                    <h2>UNIDADES</h2>
                </div>
                <div class="col-md-3 text-end">

                </div>
                <div class="col-md-3 text-end">
                    <button type="button" class="btn btn-primary btn-header" (click)="openDialogUnidad(null)" ngbTooltip="Agrega una nueva Unidad">Nueva Unidad</button>
                </div>

            </div>
            <div class="container">
                <app-card [hidHeader]="true" cardClass="table-card" blockClass="p-0">
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>

                                    <th>Presentacion</th>
                                    <th>Abreviacion</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let unidad of unidades">
                                    <td>{{unidad.presentacion}}</td>
                                    <td>{{unidad.abreviatura}}</td>
                                    <td>
                                        <button type="button" class="btn btn-info" (click)="openDialogUnidad(unidad)" ngbTooltip="Editar Unidad">Editar</button>
                                        <button type="button" class="btn btn-danger" (click)="eliminarUnidad(unidad)" ngbTooltip="Borrar Unidad">Borrar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </app-card>
            </div>
        </app-card>
    </div>
</div>