<div class="row">
    <div class="col-sm-12">
        <app-card [hidHeader]="true">
            <div class="row header">
                <div class="col-md-6">
                    <h2>ROLES</h2>
                </div>
                <div class="col-md-3 text-end">

                </div>
                <div class="col-md-3 text-end">
                    <button type="button" class="btn btn-primary btn-header" (click)="openDialog(null)"  ngbTooltip="Agrega un nuevo rol">Nuevo Rol</button>
                </div>

            </div>
            <div class="container">
                <app-card [hidHeader]="true" cardClass="table-card" blockClass="p-0">
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>

                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let rol of roles">
                                    <td>{{rol.nombre}}</td>
                                    <td>{{rol.descripcion}}</td>
                                    <td>
                                        <button type="button" class="btn btn-info" (click)="openDialog(rol)" ngbTooltip="Editar rol">Editar</button>
                                        <button type="button" class="btn btn-danger" (click)="eliminar(rol)" ngbTooltip="Borrar rol">Borrar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </app-card>
            </div>
        </app-card>
    </div>
</div>