.header{
    margin: 20px;
    margin-bottom: 30px;
}

.submenu{
    margin-top: 10px;
    margin: 5px;
}

.categoria{
    margin-top: 10px;
}
.input-cantidad{
    width: 100%;
}

.producto{
    margin-top: 2px;
}
.cardProducto{
    width: 70%;
}


.btn-danger{
    height: 30px;
}