.btn-primary{
    margin-top:20px;
}
.btn-warning{
    margin-top:20px;
}
.input-observaciones{
    margin-top:20px;
}

/* Agrega este estilo a tu CSS o archivo de estilo */
.custom-modal {
    width: 800px; /* Puedes ajustar el ancho según tus necesidades */
    height: 600px; /* Puedes ajustar la altura según tus necesidades */
    overflow-y: auto; /* Agrega un scroll vertical cuando sea necesario */
}

.card-cliente {
    /* Asegúrate de que la tarjeta del cliente tenga un alto del 100% para que ocupe toda la altura del modal */
    height: 100%;
}

.cardProducto {
    /* Asegúrate de que la tarjeta de producto tenga un alto del 100% para que ocupe toda la altura del modal */
    height: 100%;
}