<div class="container custom-modal">
    <div class="container">
        <div class="row card-cliente">
            <app-card [hidHeader]="true">
                <div class="row col-md-12">
                    <div class="col-md-4">
                        <div>
                            <img [src]="factura.idCliente.idUser.imagen" style="max-width: 150px;" alt="">
                        </div>
    
                        <h5 class="m-b-15">{{factura.idCliente.nombre}}</h5>
                        <div class="risk-rate">
                            <span><b class="text-muted">{{factura.fecha}}</b></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row justify-content-center m-t-10 b-t-default m-l-0 m-r-0">
                            <div class="col m-t-15">
                                <h6 class="text-muted">Total</h6>
                                <div class="input-group-prepend align-items-center">
                                    <span class="input-group-text align-items-center">$ {{factura.total}}</span>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" (click)="editarFactura()">Editar Factura</button>
                                <button type="button" class="btn btn-warning" (click)="pdfNota()">Descargar Factura</button>
                        </div>
                    </div>
                </div>
            </app-card>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4>DETALLES</h4>
                <div class="row">
                    <div *ngFor="let detalleCarrito of detallesFactura" class="cardProducto" class="col-md-6">
                        <app-card [hidHeader]="true">
                            <div class="row align-items-center">
                                <div class="col-6 text-right">
                                    <img style="max-width: 50px; max-height: 30px;" [src]="detalleCarrito.idProducto.imagen" alt="">
                                </div>
                                <div class="col-6">
                                    <h5 class="text-c-yellow">{{detalleCarrito.idProducto.nombre}}</h5>
                                    <h6 class="text-muted m-b-0">{{detalleCarrito.cantidad}} {{detalleCarrito.idProducto.idUnidad.abreviatura}}</h6>
                                </div>
                            </div>
                        </app-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
